project_id      = "your-gcp-project-id"
region          = "us-central1"
environment     = "dev"
app_name        = "terrapreview"
container_image = "us-docker.pkg.dev/cloudrun/container/hello"
firestore_collection_name = "preview_records"
existing_artifact_bucket_name = ""
